name: Step 4 # Last step of the exercise

on:
  workflow_dispatch:
  # Common event triggers: pull_request, push, issues, issue_comment (feel free to experiment)
  # Docs: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
  # Example:
  push:
    branches:
      - main

permissions:
  contents: write
  actions: write
  issues: write

env:
  REVIEW_FILE: ".github/steps/x-review.md"

jobs:
  find_exercise:
    name: Find Exercise Issue
    uses: skills/exercise-toolkit/.github/workflows/find-exercise-issue.yml@v0.8.1

  check_step_work:
    name: Check step work
    runs-on: ubuntu-latest
    needs: [find_exercise]
    env:
      ISSUE_REPOSITORY: ${{ github.repository }}
      ISSUE_NUMBER: ${{ needs.find_exercise.outputs.issue-number }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get response templates
        uses: actions/checkout@v6
        with:
          repository: skills/exercise-toolkit
          path: exercise-toolkit
          ref: v0.8.1

      - name: Find last comment
        id: find-last-comment
        uses: peter-evans/find-comment@v4
        with:
          repository: ${{ env.ISSUE_REPOSITORY }}
          issue-number: ${{ env.ISSUE_NUMBER }}
          direction: last

      - name: Update comment - checking work
        uses: GrantBirki/comment@v2.1.1
        with:
          repository: ${{ env.ISSUE_REPOSITORY }}
          issue-number: ${{ env.ISSUE_NUMBER }}
          comment-id: ${{ steps.find-last-comment.outputs.comment-id }}
          file: exercise-toolkit/markdown-templates/step-feedback/checking-work.md
          edit-mode: replace

      # START: Check practical exercise

      - name: Check if IRocketLaunchesRepository exists
        id: check-repository-interface
        continue-on-error: true
        uses: skills/exercise-toolkit/actions/file-exists@v0.8.1
        with:
          file: shared/src/commonMain/kotlin/compose/project/demo/composedemo/data/repository/IRocketLaunchesRepository.kt

      - name: Check if RocketLaunchesRepository exists
        id: check-repository-impl
        continue-on-error: true
        uses: skills/exercise-toolkit/actions/file-exists@v0.8.1
        with:
          file: shared/src/commonMain/kotlin/compose/project/demo/composedemo/data/repository/RocketLaunchesRepository.kt

      - name: Check if RocketLaunchUiState exists
        id: check-ui-state
        continue-on-error: true
        uses: skills/exercise-toolkit/actions/file-exists@v0.8.1
        with:
          file: shared/src/commonMain/kotlin/compose/project/demo/composedemo/presentation/rocketLaunch/RocketLaunchUiState.kt

      - name: Check if RocketLaunchViewModel exists
        id: check-viewmodel
        continue-on-error: true
        uses: skills/exercise-toolkit/actions/file-exists@v0.8.1
        with:
          file: shared/src/commonMain/kotlin/compose/project/demo/composedemo/presentation/rocketLaunch/RocketLaunchViewModel.kt

      - name: Update comment - step results
        uses: GrantBirki/comment@v2.1.1
        with:
          repository: ${{ env.ISSUE_REPOSITORY }}
          issue-number: ${{ env.ISSUE_NUMBER }}
          comment-id: ${{ steps.find-last-comment.outputs.comment-id }}
          edit-mode: replace
          file: exercise-toolkit/markdown-templates/step-feedback/step-results-table.md
          vars: |
            step_number: 4
            results_table:
              - description: "IRocketLaunchesRepository interface created"
                passed: ${{ steps.check-repository-interface.outcome == 'success' }}
              - description: "RocketLaunchesRepository implementation created"
                passed: ${{ steps.check-repository-impl.outcome == 'success' }}
              - description: "RocketLaunchUiState created"
                passed: ${{ steps.check-ui-state.outcome == 'success' }}
              - description: "RocketLaunchViewModel created"
                passed: ${{ steps.check-viewmodel.outcome == 'success' }}

      # END: Check practical exercise

      - name: Fail job if not all checks passed
        if: contains(steps.*.outcome, 'failure')
        run: exit 1

  post_review_content:
    name: Post review content
    needs: [find_exercise, check_step_work]
    runs-on: ubuntu-latest
    env:
      ISSUE_REPOSITORY: ${{ github.repository }}
      ISSUE_NUMBER: ${{ needs.find_exercise.outputs.issue-number }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get response templates
        uses: actions/checkout@v6
        with:
          repository: skills/exercise-toolkit
          path: exercise-toolkit
          ref: v0.8.1

      - name: Create comment - step finished - final review next
        uses: GrantBirki/comment@v2.1.1
        with:
          repository: ${{ env.ISSUE_REPOSITORY }}
          issue-number: ${{ env.ISSUE_NUMBER }}
          file: exercise-toolkit/markdown-templates/step-feedback/lesson-review.md

      - name: Create comment - add review content
        uses: GrantBirki/comment@v2.1.1
        with:
          repository: ${{ env.ISSUE_REPOSITORY }}
          issue-number: ${{ env.ISSUE_NUMBER }}
          file: ${{ env.REVIEW_FILE }}

      - name: Disable current workflow
        run: gh workflow disable "${{github.workflow}}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  finish_exercise:
    name: Finish Exercise
    needs: [find_exercise, check_step_work, post_review_content]
    uses: skills/exercise-toolkit/.github/workflows/finish-exercise.yml@v0.8.1
    with:
      issue-url: ${{ needs.find_exercise.outputs.issue-url }}
      exercise-title: "Learn Kotlin Multiplatform with SpaceX"
